{% extends 'layout.html' %}

{% block content %}
<div id="form_holder">
    <form>
        <span>Send</span>
        <input name="text" type="text">
        <span>to</span>
        <select name="model" id="model">
            <option value="sentiment">Sentiment</option>
            <option value="political">Political</option>
            <option value="text_tags">Text Tags</option>
            <option value="language">Language</option>
        </select>
        <span>model</span>
        <br>
        <input type="submit">
    </form>
</div>
<div id="result">
    <h1>Results</h1>
    <p></p>
</div>
{% endblock %}