<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My first indibuild</title>
        <meta name="description" content="Description of your app!">
        <meta name="author" content="You">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/external/bootstrap.min.css">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        <script type="text/javascript" src="/static/js/scripts.js"></script>
        <script type="text/javascript" src="/static/js/external/bootstrap.min.js"></script>
    </body>
</html>